
/*My code starts here*/

body {
  background-image: url("img/background4.jpg");
  background-size: contain;
  background-color: #f1f1f1;
  font-family: 'IBM Plex Mono', monospace;
}

/*For everything in the website*/
* {
  text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


#logo {
  height: 4.5em;
}

#navbarMenu {
  text-align: right;
  font-size: 1.5em;
  font-weight: 400;
}

.navbar{
  background-color: rgb(255, 255, 255) !important;
}

.nav-item > .nav_link {
  color: #000;
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

.front-page {
  height: calc(100vh - 7em);
  align-items: center;
  max-height: 100%;
}

.front-page-top {
  padding-top: 4em;
}

#main-title {
  font-weight: 600;
  font-size: 4.7em;
  padding-top: 1em;
}

#subtitle {
  padding-top: .8em;
  font-size: 2em;
}

.title-section {
  color: #000;
  background-color: rgba(190, 190, 190, 0.4);
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 5em;
  margin-left: 1em;
  margin-right: 1em;
}


.list-inline-item {
  padding-top: 2.5em;
  padding-right: 10px;
}

.fa-envelope {
  color: #D44638;
}

.fa-envelope:hover {
  color: #e07d73;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-linkedin:hover {
  color: #4c9fcb;
}

.fa-github-square {
  color: #333;
}

.fa-github-square:hover {
  color: #707070;
}

.divider {
  border-top: 1px dotted;
  color: rgb(190, 190, 190);
  padding-bottom: 2em;
}

.page-2 {
  min-height: 100vh;
}

.about-section {
  color: #000;
  background-color: rgba(190, 190, 190, 0.4);
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}

.section-title {
  font-size: 3em;
  font-weight: 600;
  padding-top: .5em;
  padding-bottom: .5em;
}

.img {
  width: 275px;
  height: 150px;
  border: 2px solid #000;
  margin-top: 1.5em;
  object-fit: cover;
  border-radius: 5%;
}

.headshot {
  width: 13em;
  height: auto;
  border: 2px solid #000;
  border-radius: 10px;
}

.football-pic {
  width: 15em;
  height: auto;
  border: 2px solid #000;
  border-radius: 10px !important;
}

.figure-caption {
  font-size: 70%;
}

.football-padding {
  margin-top: 6.5em;
}

.about-paragraph {
  padding-top: 2em;
  font-size: 1em;
  font-weight: 400;
}

.skills-section {
  color: #000;
  background-color: rgba(190, 190, 190, 0.4);
  height: 19em;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
}

.skill-category {
  font-size: 1.3em;
  font-weight: 500;
}

.skill {
  font-size: 1.1em;
  font-weight: 400;
}

.projects-section {
  color: #000;
  background-color: rgba(190, 190, 190, 0.4);
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 10em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.overlay {
  position: absolute;
  top: 42%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 150px;
  width: 275px;
  opacity: 0;
  transition: .75s ease;
  border-radius: 5%;
}

.ctr {
  position: absolute;
  transform: translate(-50%, -41%);
  text-align: center;
  padding-top: 16%;
}

.imghov:hover .overlay {
  opacity: 1;
}

.website-modal-pic {
  position: relative;
  display: block;
  width: 100%;
}

.modal-body-text {
  padding-top: 1em;
}

.btn-primary {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.btn-primary:hover {
  background-color: #666;
  border-color: #666;
}

.btn-secondary {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-secondary:hover {
  background-color: #666;
  border-color: #666;
}

.github-link {
  color: #fff;
}

.github-link:hover {
  color: #fff;
  text-decoration: none;
}

/* iPhone 5 / SE */
@media screen and (device-aspect-ratio: 40/71) {
  .front-page-top {
    padding-top: 2em;
  }

  #main-title {
    font-size: 2.3em;
    padding-top: 1.1em;
  }

  #subtitle {
    padding-top: .8em;
    font-size: 1.4em;
  }

  .title-section {
    padding-bottom: 2em;
  }

  .section-title {
    font-size: 2.3em;
  }

  .page-2 {
    min-height: 285vh;
  }
}


/* Galaxy S5*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  .front-page-top {
    padding-top: 2em;
  }

  #main-title {
    font-size: 2.3em;
    padding-top: 1.1em;
  }

  #subtitle {
    padding-top: .8em;
    font-size: 1.4em;
  }

  .title-section {
    padding-bottom: 2em;
  }

  .section-title {
    font-size: 2.3em;
  }

  .page-2 {
    min-height: 240vh;
  }

  .overlay {
    height: 72%;
    width: 83%;
    opacity: 0;
    transition: .75s ease;
    border-radius: 5%;
  }

  .projects-section {
      margin-left: 1em;
      margin-right: 1em;
  }
}

/* iPhone 6/7/8 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */
  .front-page-top {
    padding-top: 3em;
  }

  #main-title {
    font-size: 2.8em;
    padding-top: 1.1em;
  }

  #subtitle {
    padding-top: .8em;
    font-size: 1.7em;
  }

  .title-section {
    padding-bottom: 4em;
  }

  .section-title {
    font-size: 2.8em;
  }

  .page-2 {
    min-height: 230vh;
  }

  .projects-section {
      margin-left: 1em;
      margin-right: 1em;
  }
}

/* iPhone X */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .page-2 {
    min-height: 200vh;
}

  .projects-section {
      margin-left: 1em;
      margin-right: 1em;
    }
}


@media screen and (min-width: 812px) {
  #main-title {
    font-size: 4.7em;
    padding-top: 1em;
  }

  #subtitle {
    font-size: 2em;
  }

  .page-2 {
    min-height: 100vh;
  }

  .skills-section{
    margin-top: 0em;
  }

  .skill-category {
    font-size: 2em;
  }

  .skill {
    font-size: 1.5em;
  }

  .football-padding {
    margin-top: 3.5em;
  }

  .projects-section {
    margin-left: 4em;
    margin-right: 4em;
  }
}
